<style>
    #timeCount {
        text-align: center;
        margin-top: 10%;
        font-size: 12em;
    }

    #smile {
        text-align: center;
        margin-top: 10%;
        font-size: 12em;
    }

    #blinking {
        blackground: black;
    }
</style>




<script>
    var count = 3;

    function handleTime() {

        if (count < 0) {
            clearInterval(time);

            $('#timeCount').hide();
            blinking();
            setTimeout(function () {
                window.location.href = "/faceID"
            }, 1000);

        } else {
            $("#timeCount").html(count);
            --count;
        }
    }
    var time = setInterval(function () {
        handleTime();
    }, 1000)

    function blinking() {
        $('#smile').html("Smileeeee");
        setInterval(function () {
            $('#smile').show();
            $("body").css("background-color", 'grey');

        }, 300)
        //$("body").css("background-color", 'grey');
        setTimeout(function () {

            $("body").css("background-color", 'white');

        }, 1000);

        $('#countdown').hide();
    }
</script>
<div id="timeCount"></div>
<div id="smile"></div>