<script>
  $(document).ready(function () {
    const socket = io();

    socket.on('imageNotSmile', function (data) {
      console.log(data);
      $("#image1").attr("src", data);
    });
  });

</script>
<div class="text-center" style="margin-top: 100px;">
  <div class="alert alert-danger">
    <strong>You are not smilling</strong> <i class="far fa-smile-wink"></i>
  </div>
  <h3>Let's try <a href="/countTime">again</a>!</h3>
</div>

<div class="text-center" style="margin-top: 100px">
<img id="image1" height="400" width="500">
{{!-- <img id="image2" height="400" width="500" style="visibility: hidden"> --}}
</div>