<script>
  $(document).ready(function () {
    const socket = io();

    socket.on('imageNotSmile', function (data) {
      console.log(data.message);
      $("#image").attr("src", data.image);
      $("#message").html(data.message);
    });
  });
</script>

<div class="text-center">
  <div class="alert alert-danger">
    <i class="far fa-sad-tear"></i> <strong id="message">Loading Message...</strong>
  </div>
  <a class="btn btn-lg btn-outline-danger" href="/auth/google" role="button">Login with <i class="fab fa-google-plus-g"></i></a> 
  <a class="btn btn-lg btn-outline-success" href="/countTime" role="button">Login with your smile <i class="far fa-smile-wink"></i></a> 
  <a class="btn btn-lg btn-outline-dark" href="/test" role="button">Login with photo booth <i class="fas fa-camera"></i></a>
</div>

<div class="text-center" style="margin-top: 50px">
  <img id="image" height="400" width="500">
</div>